h1 {
    font-family: "Karla";
    font-size: 50px;
    text-align: center;
    font-style: bold;
    color: white;
}

h2 {
    font-family: "Karla";
    font-size: 30px;
    color: white;
}

#btntour {
    width: 200px;
    height: 75px;
    font-size: 20px;
    color: black;
}

#pic {
    width: 350px;
    height: 300px;
    border-style: solid;
    border-color: pink;
    border-width: 15px;
}
